@import '../../../../styles/_colors.scss';
@import '../../../../styles/_mix.scss';

.wrapButton {
    background: $color-primary-button;
    width: 100%;
    color: $color-background;
    font-weight: bold;
    height: calculateRem(60);
    border-radius: calculateRem(4);
    cursor: pointer;
    transition: $color-background 0.8s;
    background-position: center;
    &:hover {
        background: $color-primary-button radial-gradient(circle, transparent 1%, #47a7f5 1%) center/15000%;
    }
    &:active {
        background-color: $color-primary-button-hover;
        background-size: 100%;
        transition: $color-background 0s;
    }
}