$color-primary: #FFE600;
$color-dark-gray: #333333;
$color-text-dark-gray: #666666;
$color-text-light-gray: #999999;
$color-background: #EEEEEE;
$color-primary-button: #3483FA;
$color-primary-button-hover: #2E61B3;


  

  